<!DOCTYPE html>
<html>
<head>
    <title>Node</title>
    <link href="/stylesheets/mypage.css" rel="stylesheet" type="text/css" />
  </head>

<body>
<!--HEADER-->
<header>
  <div class="container">
    
    <div class="row">
      <div class="twelve columns">
        <nav>
          <ul>
            <li><a href="#">About</a></li>
            <li><a href="#">Work</a></li>
            <li><a href="#">Writing</a></li>
            <li><a href="#">Contact</a></li>
          </ul>
        </nav>  
      </div> 
    </div>

    <div class="row">    
      <div class="twelve columns">
        <h1>- CREATE SOMETHING TO CHANGE THE WORLD! -</h1>
        <h4>Prolific developers don’t always write a lot of code, instead they solve a lot of problems. The two things are not the same.</h4>
      </div>
    </div>
    
    <section class="services">
      <div class="row">
        <div class="twelve columns">
          <h3>My areas of expertise</h3>
        </div>
      </div>
      <div class="row">
        <div class="one-half column">
          <a href="#">
            <h4>Web development</h4>
            <span class="fa fa-picture-o"></span>
            <p>I am a MERN stack developer with 3 years of expeirence. I love javascript and like to explore new technologies.</p>
          </a>
        </div>
      </div><!--end of .row-->
    </section>
  </div><!--end of .container-->
</header>

<!--ABOUT-->
<section class="about">
  <div class="container">
    <div class="row">
      <div class="twelve columns">
        <h3>Who am I</h3>
      </div>
    </div><!--end of .row-->
    <div class="row bottom">
      <div class="two-thirds column">
        <p>A father to 2 beautiful daughters 👨‍👩‍👧‍👧</p>
        <p>React developer, always exploring javascript</p>
        <p>exploring express framework </p>
      </div>
  </div><!--end of .container-->
</section>
</body>
</html>